@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC", sans-serif;
}
header {
    display: flex;
    gap: 0.5rem;
    align-items: center;    
    justify-content: center;
    

}
.site_logo {
    height: 80px;
    
}
h1 {
   font-size: 3em;
}
body {
    font-family: var(--secondary-font);
    line-height: 1.6;
    margin: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}
.search_row {
    display: flex;
    img{
        height: 16px;
    }
    input{
        width: 100%;
    }
}

h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}
.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    border: 1px solid var(--text-dark);
    border-radius: 5px;
    padding: 15px;
    height: 23rem;
    width: 97%;
    font-weight: 550;

    }
    

    .recipe img {
        padding-right: 49rem;
        padding-left: 2rem;
        height: 23rem;
        width: 38rem;
        border-radius: 5px;
        margin-bottom: 8px;
        position: absolute
        
    }
    .tag {
        font-family: none;
    font-size: 2em;
    padding: 4px;
    border: 1.5px solid var(--text-dark);
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 300;
    margin-left: 2rem;
    }


footer {
    /*text-align: center;*/
    font-size: 0.8rem;
    /*padding: 1rem;*/

    color: var(--text-dark);
}
footer p,
footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.social {
    margin-top: 2rem;
    margin-left: 70rem;
    
}

.social img {
    width: 50px;
    margin: 0 0.5rem;
    transition: transform 0.3s;
}

footer a{
    padding-bottom: 2rem;
    
}

.details {
    font-family: sans-serif;
    font-size: 1.5em;
    width: 40%;
    padding-left: 29rem;
    
}

